/* Mixins
=============================================*/
@mixin box-shadow($var...){
	-webkit-box-shadow: $var;
	-moz-box-shadow: $var;
	-ms-box-shadow: $var;
	-o-box-shadow: $var;
	box-shadow: $var;
}
@mixin transform($var...){
	-webkit-transform: $var;
	-moz-transform: $var;
	-ms-transform: $var;
	-o-transform: $var;
	transform: $var;
}
@mixin transition($var...){
	-webkit-transition: $var;
	-moz-transition: $var;
	-ms-transition: $var;
	-o-transition: $var;
	transition: $var;
}
@mixin box-sizing($var){
	-webkit-box-sizing: $var;
	-moz-box-sizing: $var;
	-ms-box-sizing: $var;
	-o-box-sizing: $var;
	box-sizing: $var;
}
@mixin backface-visibility($var){
	-webkit-backface-visibility: $var;
	-moz-backface-visibility: $var;
	-ms-backface-visibility: $var;
	-o-backface-visibility: $var;
	backface-visibility: $var;
}
@mixin transform-style($var){
	-webkit-transform-style: $var;
	-moz-transform-style: $var;
	-ms-transform-style: $var;
	-o-transform-style: $var;
	transform-style: $var;
}
@mixin transition-delay($var){
	-webkit-transition-delay: $var;
	-moz-transition-delay: $var;
	-ms-transition-delay: $var;
	-o-transition-delay: $var;
	transition-delay: $var;
}
@mixin gradient($var...){
	background: -webkit-linear-gradient($var);
	background: -moz-linear-gradient($var);
	background: -ms-linear-gradient($var);
	background: -o-linear-gradient($var);
	background: linear-gradient($var);
}
@mixin animation($var...){
	-webkit-animation: $var;
	-moz-animation: $var;
	-ms-animation: $var;
	-o-animation: $var;
	animation: $var;
}